:root {
    --font-family: 'Sora', sans-serif;
    --primary: #10375c;
    --bg-color-secondary: #2e80ce;
    --bg-color-tertiary: #eaf6ff;
    --white: #fff;
    --text-color: #575f66;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100vw - 64px);
    margin: 0 auto;
}

.center-y {
    display: flex;
    align-items: center;
}

.section-spacing {
    margin-top: 30px;
    padding: 70px 0;
}

.mt-100 {
    margin-top: 100px;
}

.col-start-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.left-column {
    width: 570px;
}

.right-column {
    width: 470px;
    margin-left: 130px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--line-clamp, 1);
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 205px;
    border-radius: 30px;
    background: var(--bg-color-secondary);
    padding: 15px 16px;
    color: var(--white);
    font-size: 1.8rem;
    line-height: 1.67;
    user-select: none;
}

.btn:hover {
    opacity: 0.9;
}

.btn--small {
    min-width: 104px;
    padding: 6.3px 16px;
    border-radius: 22px;
    line-height: 1.75;
}

.heading {
    color: var(--primary);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.heading--lv1 {
    color: var(--white);
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.heading--lv2 {
    font-size: 2.6rem;
    line-height: 1.38;
}

.heading--lv3 {
    font-size: 1.8rem;
    line-height: normal;
}

.heading--lv5 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
}

.desc {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.desc--light {
    color: #c9d2da;
}

.desc--lv2 {
    font-size: 1.6rem;
    line-height: 1.75;
}

.desc--lv3 {
    font-size: 1.4rem;
    line-height: 1.86;
}

.image {
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 0 18px;
}

.control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--text-color);
    border: 1px solid currentColor;
    background: var(--white);
    cursor: pointer;
}

.control-btn:hover {
    color: var(--white);
    border-color: var(--bg-color-secondary);
    background: var(--bg-color-secondary);
}

/* Header */
.header {
    padding: 38px 0 8px;
    background: var(--primary);
}

.header.sticky {
    position: sticky;
    top: -30px;
    z-index: 1;
}

.header__logo {
    line-height: 0;
}

/* Header__nav */
.header__nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link,
.cta-group__sign-in-btn {
    position: relative;
    color: #c9d2da;
    font-weight: 300;
    line-height: 1.75;
    padding: 8px 21px;
}

.nav__link:hover,
.nav__link--active {
    text-shadow: 1px 0 0 currentColor;
}

.nav__link--active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background: var(--white);
    border-radius: 50%;
}

/* Header__cta-group */
.header__cta-group {
    margin-left: 222px;
}

.cta-group__sign-in-btn {
    margin-right: 7px;
}

.cta-group__sign-in-btn:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    background: var(--primary);
    padding: 68px 0 110px;
}

/* Hero__content */
.hero__content {
    width: 517px;
    margin-right: 113px;
}

.hero__desc {
    margin: 22px 0 38px;
}

.cta-block__desc {
    color: var(--white);
    font-weight: 400;
    margin-left: 38px;
}

/* Hero__img-block */
.hero__img-1 {
    position: relative;
    width: 330px;
    height: 540px;
    background-image: url('../img/hero-1.png');
}

.hero__img-2 {
    margin-left: -6px;
    border-radius: 0px 6px 6px 0px;
    width: 210px;
    height: 410px;
    background-image: url('../img/hero-2.png');
}

/* Services-section */
.services-section__row-top {
    text-align: center;
}

.services-section__desc {
    width: 468px;
    margin: 18px auto 70px;
}

.services-section__img {
    height: 570px;
    border-radius: 12px;
    background-image: url('../img/services-img.png');
    background-position: 0px -1.3px;
    background-size: 100% 149.93%;
}

.services-section__row-bottom {
    display: flex;
}

/* Services item */
.service-item {
    display: flex;
    align-items: center;
    padding: 21px 22px 20px;
    border-radius: 10px;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    flex-shrink: 0;
    margin-right: 19px;
    color: #10375c;
}

.service-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: var(--bg-color-secondary);
    color: var(--white);
}

.service-item__desc {
    margin-top: 8px;
}

.services-section__btn {
    margin-top: 55px;
}

/* Guide */
.guide {
    padding: 100px 0;
    background: #f6fbff;
}

.guide__desc {
    width: 468px;
    margin: 18px 0 86px;
}

.guide__steps-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.guide__step {
    display: block;
    padding: 42px 43px;
    border-radius: 4px;
    border: 16px solid var(--bg-color-tertiary);
    background: var(--white);
}

.guide__step:hover {
    border-color: var(--bg-color-secondary);
    transform: translateY(-16px);
}

.guide__step:hover .step__learn-more {
    color: var(--bg-color-secondary);
    font-weight: 400;
}

.guide__icon {
    margin-bottom: 18px;
}

.step__desc {
    margin: 28px 0 18px;
}

/* Feature */
.feature__body {
    display: flex;
}

.feature__img-block {
    display: grid;
    grid-template-columns: 238px 1fr 58px;
    grid-template-rows: 121px 249px 121px;
}

.feature__img-1 {
    grid-area: 1 / 1 / 3 / 3;
    background-image: url('../img/feature-img-1.png');
    background-position: -1.5px 0px;
    background-size: 108.398% 100%;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.feature__img-2 {
    grid-area: 2 / 2 / -1 / -1;
    background-image: url('../img/feature-img-2.png');
}

.feature__desc {
    margin: 18px 0 38px;
}

/* Dentists */
.dentists__row-top {
    text-align: center;
}

.dentists__btn {
    margin: 53px 0 85px;
}

.dentists-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
}

.dentist {
    text-align: center;
}

.dentist__img-wrapper {
    display: flex;
    width: 270px;
    height: 318px;
    background: var(--bg-color-tertiary);
    border-radius: 6px;
    padding-top: 28px;
    overflow: hidden;
}

.dentist__image {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-tertiary);
}

.dentist__img-1 {
    margin: 0 4px;
    background-image: url('../img/dentist-1.png');
    background-position: -153.123px -52.895px;
    background-size: 208.148% 188.038%;
}

.dentist__img-2 {
    background-image: url('../img/dentist-2.png');
    background-position: -198.711px -23.406px;
    background-size: 238.868% 147.382%;
}

.dentist__img-3 {
    width: calc(100% + 2 * 11px);
    height: calc(100% + 15px);
    margin: -3px -11px -12px;
    background-image: url('../img/dentist-3.png');
    background-position: -180.805px -32.849px;
    background-size: 209.541% 134.174%;
}

.dentist__img-4 {
    margin: 0 9px 0 8px;
    background-image: url('../img/dentist-4.png');
    background-position: -71.171px -6.859px;
    background-size: 186.916% 108.719%;
}

.dentist__heading {
    margin-top: 12px;
}

.dentist__controls {
    margin-top: 38px;
}
